body {
    padding: 20px;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
}

form {
    text-align: center;
}

#imageFile {
    margin-top: 10px;
}

#previewImage {
    display: none;
    max-width: 100%;
    height: auto;
    margin-top: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#submitButton {
    margin-top: 20px;
}

#downloadButton {
    margin-top: 10px;
}
